<!DOCTYPE html>
<html lang="ua">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>Volt - Free Bootstrap 5 Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Календар планувальник для учнів.">
<meta name="author" content="">
<meta name="description" content="Календар планувальник для учнів.">
<meta name="keywords" content="Календар планувальник для учнів." />
<link rel="canonical" href="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="/">
<meta property="og:title" content="Календар планувальник для учнів.">
<meta property="og:description" content="Календар планувальник для учнів.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="/">
<meta property="twitter:title" content="Календар планувальник для учнів.">
<meta property="twitter:description" content="Календар планувальник для учнів.">
<meta property="twitter:image" content="">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Sweet Alert -->
<link type="text/css" href="../../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="../../vendor/notyf/notyf.min.css" rel="stylesheet">

<link type="text/css" href="/css/volt.css" rel="stylesheet">
<link type="text/css" href="/css/style.css" rel="stylesheet">
<% if (reactApp) { %>
    <link href="/static/css/main.[hash].css" rel="stylesheet">
  <% } %>
</head>


<main class="content">

